<div class="row sco-node-server">
  <div class="col-12">

    <sco-card [showTitle]="true">
      <p card-title>Archivos del servidor</p>
      <div card-content class="row m-0 p-0">
        <div class="col-12 sco-node-server__container">

          <div class="row w-100 p-0 m-0">
            <div class="col-12 pt-1 pb-1 sco-node-server__container__header-input">
              <sco-button class="sco-node-server__container__header--button pr-2 pt-1"
                [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                [icon]="'fa fa-eye'"
                [transparent]="false"
                (action)="onGoToViewServer()">
              </sco-button>
              <sco-input class="w-100"
                [(ngModel)]="showCurrentPath"
                [readonly]="false"
                [showLabel]="false">
              </sco-input>
              <sco-button class="sco-node-server__container__header--button pl-2 pt-1"
                [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                [icon]="'fa fa-check'"
                [transparent]="false"
                (action)="onFilterCurrentPath()">
              </sco-button>
            </div>
            <div class="col-12 sco-node-server__container__header pb-5">
              <div class="col-3 sco-node-server__container__header--left">
                <sco-button class="sco-node-server__container__header--button"
                  [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                  [icon]="tableView ? 'fa fa-table' : 'fa fa-list'"
                  [transparent]="false"
                  (action)="tableView = !tableView;">
                </sco-button>
                <sco-button class="sco-node-server__container__header--button pl-2"
                  [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                  [icon]="'fa fa-home'"
                  [disabled]="currentPath == '/'"
                  [transparent]="false"
                  (action)="onClickHomeButton()">
                </sco-button>
                <sco-button class="sco-node-server__container__header--button pl-2"
                  [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                  [icon]="'fa fa-level-up'"
                  [transparent]="false"
                  [disabled]="currentPath == '/' || currentPath == undefined"
                  (action)="onLevelUpButton()">
                </sco-button>
              </div>
              <div class="col-5 sco-node-server__container__header--right">
                <div class="col-8 p-0 m-0 d-flex justify-content-center">
                  <sco-button class="sco-node-server__container__header--button"
                    [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                    [icon]="'fa fa-clone'"
                    [transparent]="false"
                    [disabled]="selectedCopyFile == undefined"
                    (action)="onCopyPasteFile()">
                  </sco-button>
                  <sco-button class="sco-node-server__container__header--button pl-2"
                    [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                    [icon]="'fa fa-cut'"
                    [transparent]="false"
                    [disabled]="selectedCutFile == undefined"
                    (action)="onCutPasteFile()">
                  </sco-button>
                  <sco-button class="sco-node-server__container__header--button"
                    [ngClass]="{
                      'pl-5': scoDisplayResize.mode == constantsService.ScoResolutionConstants.WEB,
                      'pl-2': scoDisplayResize.mode != constantsService.ScoResolutionConstants.WEB
                    }"
                    [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                    [icon]="'fa fa-folder'"
                    [transparent]="false"
                    (action)="onClickCreateFolder()">
                  </sco-button>
                  <sco-file-uploader class="pt-1 pl-2"
                    [showLabel]="false"
                    [label]="''"
                    [required]="false"

                    [multipleFiles]="true"
                    [acceptFileTypes]="[]"

                    [showBorder]="false"
                    [colorBorder]="''"

                    [labelSelectBtn]="''"
                    [iconSelectBtn]="'fa fa-upload'"

                    [labelUploadBtn]="''"
                    [showUploadBtn]="false"
                    [iconUploadBtn]="''"

                    [labelCleanBtn]="''"
                    [showCleanBtn]="false"
                    [iconCleanBtn]="''"

                    [base64]="false"
                    [labelBase64Title]="''"
                    [base64TextRows]="0"

                    (selectFiles)="onSelectFiles($event)"
                    (uploadBtn)="undefined"
                    (cleanBtn)="undefined"
                    (copyBtn)="undefined">
                  </sco-file-uploader>
                </div>
                <div class="col-4 p-0 m-0 d-flex justify-content-end">
                  <sco-button class="sco-node-server__container__header--button pl-2"
                    [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                    [icon]="'fa fa-refresh'"
                    [transparent]="false"
                    (action)="onRefreshCurrentList()">
                  </sco-button>
                  <sco-button class="sco-node-server__container__header--button pl-2"
                    [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                    [icon]="'fa fa-save'"
                    [transparent]="false"
                    (action)="onDownloadServerBackup()">
                  </sco-button>
                </div>
              </div>
              <div class="col-4 sco-node-server__container__header--center">
                <sco-input class="sco-node-server__container__header--filter"
                  [(ngModel)]="filterFileNames"
                  [showLabel]="false"
                  (inputKeyUp)="onFilterFileNames($event)">
                </sco-input>
                <sco-button class="sco-node-server__container__header--button pl-2"
                  [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                  [icon]="'fa fa-close'"
                  [transparent]="false"
                  (action)="onCleanFilterNames()">
                </sco-button>
              </div>  
            </div>  
            <div class="col-12 sco-node-server__container__body pl-2 pr-2" [hidden]="!tableView">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ultima modificación</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="nodeServerFiles && nodeServerFiles.length > 0">
                    <tr class="sco-node-server__container__body--row" *ngFor="let file of nodeServerFiles; let i = index;" [id]="('table-'+i)"
                    >
                      <th scope="row" 
                        class="c-pointer"
                        [id]="('table-icon-'+i)"
                        (click)="onSelectItem(file, i)"
                      >
                        <img class="sco-node-server__container__body--icon" 
                          [id]="('table-icon-image-'+i)"
                          [src]="'../../../../../assets/icons/' + file.image"
                        >
                      </th>
                      <td [id]="('table-name-'+i)">{{file.name}}</td>
                      <td [id]="('table-size-'+i)">{{file.size}}</td>
                      <td [id]="('table-typeDescription-'+i)">{{file.typeDescription}}</td>
                      <td [id]="('table-modifiedDate-'+i)">{{file.modifiedDate | date: 'dd-MM-yyy HH:mm:ss'}}</td> 
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <ng-container *ngIf="!nodeServerFiles || (nodeServerFiles && nodeServerFiles.length == 0)">
                <div class="sco-node-server__container__body--no-elements">
                  <span>No hay ficheros que mostrar</span>
                </div>
              </ng-container>
            </div>
            <div class="col-12 sco-node-server__container__body-list p-0 m-0" [hidden]="tableView">
              <div class="row w-100 p-0 m-0 pl-2 pr-2" *ngIf="nodeServerFiles && nodeServerFiles.length > 0">
                <div class="col-2 text-center sco-node-server__container__body-list--element" *ngFor="let file of nodeServerFiles; let i = index;" [id]="('list-'+i)">
                  <div class="d-flex justify-content-center" [id]="('list-icon-'+i)" (click)="onSelectItem(file, i)">
                    <img class="sco-node-server__container__body-list--icon" 
                      [id]="('list-icon-image-'+i)"
                      [src]="'../../../../../assets/icons/' + file.image"
                    >
                  </div>
                  <div class="sco-node-server__container__body-list--title" [id]="('list-name-'+i)">
                    <span [id]="('list-name-span-'+i)">{{file.name}}</span>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!nodeServerFiles || (nodeServerFiles && nodeServerFiles.length == 0)">
                <div class="sco-node-server__container__body-list--no-elements">
                  <span>No hay ficheros que mostrar</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </sco-card>

  </div>
</div>

<!-- Create Folder Modal -->
<sco-modal 
  [id]="'create-folder-modal'"
  [type]="constantsService.ScoModalTypeConstants.CONFIRM" 
  [labelConfirm]="'Crear'"
  [labelClose]="'Cancelar'"
  [forceClose]="false" 
  [closeWhenConfirm]="false"

  [width]="30"
  [height]="21"
  [sizeUnity]="'percentage'"

  (close)="onCancelCreateFolderModal($event)"
  (accept)="onConfirmCreateFolderModal($event)" >
    <div modal-title>Nueva carpeta</div>
    <div modal-content class="p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
          <sco-input
            [(ngModel)]="newFolderName"
            [showLabel]="false">
          </sco-input>
        </div>
      </div>
    </div>
</sco-modal>

<!-- Delete File Modal -->
<sco-modal 
  [id]="'delete-file-modal'"
  [type]="constantsService.ScoModalTypeConstants.CONFIRM" 
  [labelConfirm]="'Eliminar'"
  [labelClose]="'Cancelar'"
  [forceClose]="false" 
  [closeWhenConfirm]="false"

  [width]="30"
  [height]="20"
  [sizeUnity]="'percentage'"

  (close)="onCancelDeleteFileModal($event)"
  (accept)="onConfirmDeleteFileModal($event)" >
    <div modal-title>
      <span *ngIf="selectedDeleteFile">Eliminar {{selectedDeleteFile.type == 'd' ? 'directorio' : 'archivo'}}: {{selectedDeleteFile.name}}</span>
    </div>
    <div modal-content class="p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0 text-center" *ngIf="selectedDeleteFile">
          <span>¿Realmente quiere eliminar el fichero?</span>
        </div>
      </div>
    </div>
</sco-modal>

<!-- Actions Panel File Modal -->
<sco-modal 
  [id]="'actions-panel-file-modal'"
  [type]="constantsService.ScoModalTypeConstants.NO_BUTTONS" 
  [labelConfirm]="'Cerrar'"
  [labelClose]="'Cancelar'"
  [forceClose]="true" 
  [closeWhenConfirm]="false"

  [width]="20"
  [height]="35"
  [sizeUnity]="'percentage'"

  (close)="onCancelActionsPanelModal($event)"
  (accept)="onConfirmActionsPanelModal($event)" >
    <div modal-title>
      <span *ngIf="selectedActionPanelFile">Acciones del {{selectedActionPanelFile.type == 'd' ? 'directorio' : 'archivo'}}: {{selectedActionPanelFile.name}}</span>
    </div>
    <div modal-content class="p-0 m-0">
      <div class="row p-0 m-0" *ngIf="selectedActionPanelFile">
        <div class="col-12 p-0 m-0 text-center">
          <sco-button
            [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
            [block]="true"
            [icon]="'fa fa-download'"
            [text]="'Descargar'"
            (action)="onDownloadFile(selectedActionPanelFile, undefined)">
          </sco-button>
        </div>
        <div class="col-12 p-0 m-0 mt-2 text-center">
          <sco-button
            [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
            [block]="true"
            [icon]="'fa fa-clone'"
            [text]="'Copiar'"
            (action)="onCopyCopyFile(selectedActionPanelFile, undefined)">
          </sco-button>
        </div>
        <div class="col-12 p-0 m-0 mt-2 text-center">
          <sco-button
            [mode]="constantsService.ScoButtonConstants.MODE_INFO"
            [block]="true"
            [icon]="'fa fa-cut'"
            [text]="'Cortar'"
            (action)="onCutCopyFile(selectedActionPanelFile, undefined)">
          </sco-button>
        </div>
        <div class="col-12 p-0 m-0 mt-2 text-center">
          <sco-button
            [mode]="constantsService.ScoButtonConstants.MODE_DANGER"
            [block]="true"
            [icon]="'fa fa-trash'"
            [text]="'Eliminar'"
            (action)="onDeleteItem(selectedActionPanelFile, undefined)">
          </sco-button>
        </div>
      </div>
    </div>
</sco-modal>