<div class="row mt-3 sco-register">
  <div class="col-12 sco-register__content" [ngClass]="{
      'sco-register__content--tablet': scoDisplayResize.mode == constantsService.ScoResolutionConstants.TABLET,
      'sco-register__content--mobile': scoDisplayResize.mode == constantsService.ScoResolutionConstants.MOBILE
    }"
  >
    <sco-card [showTitle]="true">
      <div card-title class="text-center">
        <p>{{cacheService.getElement(CACHE_CONSTANTS.TITLE)}}</p>
      </div>
      <div card-content class="row">
        <div class="col-12">
          <form [formGroup]="registerForm">
            <div class="row form-group">
              <div class="col-12 pl-5 pr-5">
                <sco-input
                  formControlName="name"
                  [label]="'label.register.component.input.name' | scoTranslate"
                  [showLabel]="true"
                  [required]="true" >
                </sco-input>
                <span class="sco-form-error" *ngIf="registerForm.controls['name'].invalid">
                  {{formErrors | scoFormError : 'name'}}
                </span>
              </div>
              <div class="col-12 mt-3 pl-5 pr-5">
                <sco-input
                  formControlName="email"
                  [label]="'label.register.component.input.email' | scoTranslate"
                  [showLabel]="true"
                  [required]="true" >
                </sco-input>
                <span class="sco-form-error" *ngIf="registerForm.controls['email'].invalid">
                  {{formErrors | scoFormError : 'email'}}
                </span>
              </div>
              <div class="col-12 mt-3 pl-5 pr-5">
                <sco-input
                  formControlName="password"
                  [label]="'label.register.component.input.password' | scoTranslate"
                  [showLabel]="true"
                  [type]="type_input_pwd"
                  [icon]="type_input_pwd == 'password' ? 'fa fa-eye-slash' : 'fa fa-eye' "
                  [showIcon]="true" 
                  [enabledIconClick]="true"
                  [required]="true"
                  (iconClick)="type_input_pwd == 'password' ? type_input_pwd = 'text' : type_input_pwd = 'password'" >
                </sco-input>
                <span class="sco-form-error" *ngIf="registerForm.controls['password'].invalid">
                  {{formErrors | scoFormError : 'password'}}
                </span>
              </div>
              <div class="col-12 mt-3 pl-5 pr-5">
                <sco-input
                  formControlName="newPassword"
                  [label]="'label.register.component.input.confirm' | scoTranslate"
                  [showLabel]="true" 
                  [type]="type_input_pwd_confirm"
                  [icon]="type_input_pwd_confirm == 'password' ? 'fa fa-eye-slash' : 'fa fa-eye' "
                  [showIcon]="true" 
                  [enabledIconClick]="true"
                  [required]="true"
                  (iconClick)="type_input_pwd_confirm == 'password' ? type_input_pwd_confirm = 'text' :  type_input_pwd_confirm = 'password'" >
                </sco-input>
                <span class="sco-form-error" *ngIf="registerForm.controls['newPassword'].invalid">
                  {{formErrors | scoFormError : 'newPassword'}}
                </span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-12 text-center mt-2">
                <sco-button
                  [mode]="constantsService.ScoButtonConstants.MODE_LINK"
                  [text]="'label.register.component.link.login' | scoTranslate"
                  (click)="onClickGoLogin()">
                </sco-button>
              </div>
            </div>

            <div class="row form-group mb-0">
              <div class="col-12 mt-2 pl-100 pr-100">
                <sco-button
                  [block]="true"
                  [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
                  [text]="'label.cancel' | scoTranslate"
                  (click)="onClickCancelForm()">
                </sco-button>
              </div>
              <div class="col-12 mt-3 pl-100 pr-100">
                <sco-button
                  [block]="true"
                  [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
                  [text]="'label.create' | scoTranslate"
                  (click)="onClickSubmitForm()">
                </sco-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </sco-card>
  </div>
</div>