<sco-form-crud
  [showFilterPanel]="true"

  [showChangeView]="true"
  [changeViewTableBtnIcon]="'fa fa-table'"
  [changeViewTableBtnTransparent]="true"
  [changeViewBlocklistBtnIcon]="'fa fa-th-large'"
  [changeViewBlocklistBtnTransparent]="true"

  [showExcelDownloadBtn]="true"
  [excelDownloadBtnIcon]="'fa fa-download'"
  [excelDownloadBtnTransparent]="true"

  [addElementBtnIcon]="'fa fa-plus'"
  [addElementBtnTransparent]="true"

  [enableKeyboardBinds]="true"
  [tableDefaultView]="true"
  [tableCols]="cols"
  [tableItems]="tableItems"
  [blockItems]="blockItems"
  [tableItemsPage]="8"
  [blocklistItemsPage]="5"
  [labelTotalResults]="'label.pagination.total.elements' | scoTranslate"
  [labelNoResults]="'label.pagination.no.elements' | scoTranslate"
  [showActions]="true"
  [showTotalItems]="true"
  [canSelectItems]="false"
  [previousLabel]="'label.pagination.previous' | scoTranslate"
  [nextLabel]="'label.pagination.next' | scoTranslate"
  [paginationOnTop]="false"
  [closeFormWhenCancel]="(CONFIG_CONSTANTS.CLOSE_FORM_WHEN_CANCEL | scoConfig) || false"

  [showTableIndex]="true"
  [showTableAddBtn]="true"
  [tableActionsMarginBottom]="40"

  [showBlocklistHeader]="false"
  [showBlocklistInfoAdditional]="false"
  [showBlocklistBorder]="true"
  [blocklistActionsMarginBottom]="40"

  [formShowTitle]="true"
  [formCenterTitle]="true"
  [formPadding]="true"
  [formNewItemTitle]="'label.roles.component.form.title.new' | scoTranslate"
  [formUpdateItemTitle]="'label.roles.component.form.title.update' | scoTranslate"
  [formUpdateItemTitleProperty]="'name'"
  [formButtonsPosition]="constantsService.ScoFormCrudConstants.FORM_BUTTONS_POSITION_RIGHT"
  [formButtonsPaddingClasses]="'pl-5 pr-5'"
  [formCancelButtonLabel]="'label.cancel' | scoTranslate"
  [formCreateButtonLabel]="'label.create' | scoTranslate"
  [formUpdateButtonLabel]="'label.update' | scoTranslate"
  [formBackButton]="(CONFIG_CONSTANTS.FORM_BACK_BUTTON | scoConfig) || false"
  [formBackButtonIcon]="'fa fa-arrow-left'"
  [formBackButtonTransparent]="true"
  [formBackButtonPosition]="constantsService.ScoFormCrudConstants.FORM_BUTTONS_POSITION_LEFT"
  [formBackButtonPaddingClasses]="'mb-2'"
  [formAlwaysVisible]="scoDisplayResize.mode != constantsService.ScoResolutionConstants.WEB
    ? (CONFIG_CONSTANTS.FORM_ALWAYS_VISIBLE | scoConfig)
    : !(CONFIG_CONSTANTS.FORM_ALWAYS_VISIBLE | scoConfig)
  "

  [deleteModalConfirmLabel]="'label.delete' | scoTranslate"
  [deleteModalCancelLabel]="'label.cancel' | scoTranslate"
  [deleteModalTitle]="'label.roles.component.modal.delete.title' | scoTranslate"
  [deleteModalContent]="'label.roles.component.modal.delete.content' | scoTranslate"
  [elementSelectedProperty]="'name'"

  (onDownloadExcel)="onDownloadExcel($event)"
  (itemSelected)="onItemSelected($event)"
  (actionSelected)="onActionSelected($event)"
  (changePage)="onChangePage($event)"
  (closeOptions)="onCloseOptions($event)"
  (goToCreate)="onGoToCreate($event)"
  (onFormCancel)="onFormCancel($event)"
  (onFormConfirm)="onFormConfirm($event)"
  (onFormClose)="onFormClose($event)"

  (onConfirmDeleteModal)="onConfirmDeleteModal($event)"
  (onCloseDeleteModal)="onCloseDeleteModal($event)"
> 
  <ng-template #templateFilter>
    <sco-accordion [title]="'Label.filter.data' | scoTranslate" [open]="false"> 
      <div content-accordion class="row">
        <div class="col-12">
          <div class="row form-group">
            <div class="col-3">
              <sco-input
                [(ngModel)]="filter._id"
                [label]="'label.id' | scoTranslate"
                [showLabel]="true"  
                [required]="false" >
              </sco-input>
            </div>
            <div class="col-3">
              <sco-input
                [(ngModel)]="filter.name"
                [label]="'label.roles.component.input.name' | scoTranslate"
                [showLabel]="true"  
                [required]="false" >
              </sco-input>
            </div>
          </div>
          
          <div class="row form-group">
            <div class="col-12 text-right">
              <sco-button class="mr-1"
                [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                [icon]="'fa fa-close'"
                [transparent]="true"
                (action)="clearFilter()">
              </sco-button>
        
              <sco-button
                [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                [icon]="'fa fa-search'"
                [transparent]="true"
                (action)="search()">
              </sco-button>
            </div>
          </div>
        </div>
      </div>
    </sco-accordion>
  </ng-template>

  <ng-template #templateHeader let-item="item">
  </ng-template>

  <ng-template #templateInfoAdditional let-item="item">
  </ng-template>

  <ng-template #templateData let-item="item">
    <div class="row" *ngIf="item && cols && cols.length > 0">
      <div class="col-4">
        <sco-block-list-data-item
          [label]="cols[0].label"
          [value]="item._id" >
        </sco-block-list-data-item>
      </div> 
      <div class="col-2">
        <sco-block-list-data-item
          [label]="cols[1].label"
          [value]="item.name" >
        </sco-block-list-data-item>
      </div> 
      <div class="col-6">
        <sco-block-list-data-item
          [label]="cols[2].label"
          [value]="getPermissionsOfRole(item) | join" >
        </sco-block-list-data-item>
      </div>
    </div>
  </ng-template>

  <ng-template #templateRow let-item="item" let-cols="cols">
    <td *ngFor="let col of cols" [ngSwitch]="col.property">     
      <span *ngSwitchCase="'permissions'">
        {{ getPermissionsOfRole(item) | join }}
      </span>
      <span *ngSwitchDefault>
        {{item[col.property]}}
      </span>
    </td>
  </ng-template>

  <ng-template #templateForm let-item="item" let-mode="mode">
    <div class="row form-group">
      <div class="col-12 pl-5 pr-5">
        <sco-input
          [(ngModel)]="item.name"
          [label]="'label.roles.component.input.name' | scoTranslate"
          [showLabel]="true"  
          [required]="true" >
        </sco-input>
        <span class="sco-form-error" *ngIf="formErrors && formErrors.length > 0 && formErrorsService.checkIfErrors('name', formErrors)">
          {{formErrorsService.showError('name', formErrors)}}
        </span>
      </div>
      <div class="col-12 pl-5 pr-5 mt-3" *ngIf="permissionsItems && permissionsItems.length > 0">
        <span class="sco-span d-block mb-1">Permisos</span>
        <sco-checkbox
          [options]="permissionsItems" 
          [viewMode]="scoDisplayResize.mode != constantsService.ScoResolutionConstants.MOBILE
            ? constantsService.ScoResolutionConstants.TABLET
            : constantsService.ScoResolutionConstants.MOBILE
          "
          [addOneItem]="false"
          [(ngModel)]="selectedPermissions"
        >
        </sco-checkbox>
      </div>
    </div>
  </ng-template>
</sco-form-crud>